---
import MainLayout from '../layouts/MainLayout.astro';
const pageTitle = "О нас";
---

<MainLayout {pageTitle}>
  <article>
    <h2>Кто мы?</h2>
    <p>Команда разработчиков, создающих быстрые веб-приложения</p>
  </article>
</MainLayout>